<ul>
{{#each games}}
    <li>
        <a href="/game-info/{{_id}}">
            <img src="{{image}}" alt="{{name}}">
            <br>
            <p>{{name}}</p>
        </a>
    </li>
{{/each}}
</ul>