
 

 <form action="/create-prototipe" method="POST">
  <label for="name"></label>
  <input type="text" name="name" id="name">

  <label for="description"></label>
  <textarea name="description" id="description" cols="30" rows="10"></textarea>

  <label for="min_players"></label>
  <input type="number" name="min_players" id="min_players">

  <label for="max_players"></label>
  <input type="number" name="max_players" id="max_players" >

  <label for="min_playtime"></label>
  <input type="number" name="min_playtime" id="min_playtime">

  <label for="max_playtime"></label>
  <input type="number" name="max_playtime" id="max_playtime" >

  <label for="complexity"></label>
  <input type="number" name="complexity" id="complexity" >

  <label for="mechanisms"></label>
  <input type="text" name="mechanisms" id="mechanisms" >

  <label for="category"></label>
  <input type="text" name="category" id="category">

  <label for="image"></label>
  <input type="text" name="image" id="image" >

  <label for="designer_notes"></label>
  <textarea name="designer_notes" id="designer_notes" cols="30" rows="10"></textarea>

  <button type="submit">CREATE</button>

 </form>