
<div class="jumbotron">
  <h1 class="display-4">Welcome back!</h1>
  <hr class="my-4">
  <p class="lead">Registra tu coleccion de juegos, busca y descubre nuevos juegos, registra y lleva el control de tus propios prototipos</p>
</div>

<div class="container">
  <div class="row">
      {{#each games}}
        {{> allGamesCard}}
      {{/each}}
  </div>
</div>