
<a href="/create-prototipe">
    <button type="button" class="create-proto-btn btn btn-outline-light btn-lg btn-block">Create a new prototipe</button>
</a>

<div class="container-fluid">
  <div class="row">
      {{#each games}}
        {{> userProtosCard}}
      {{/each}}
  </div>
</div>