
<div class="jumbotron">
  <h1 class="display-4">Welcome back, user!</h1>
  <p class="lead"> texto de ejemplo</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>


